.accordion-item {
    width: 100%;
    max-width: 570px;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    .accordion-item__head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .accordion-item__header {
            display: flex;
            align-items: center;

            h3 {
                font-size: 18px;
                font-weight: 700;

                color: $black;
            }
        }

        .accordion-item__arrow {
            margin-left: 10px;
            .icon {
                width: 18px;
                height: 18px;
                color: #999;

                transform: rotate(180deg);
                transition: $transition;
            }
        }
    }

    .accordion-item__body {
        display: none;
        padding: 30px 0;

        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
        color: #666;

        border-bottom: 1px solid #e5e5e5;
    }

    &.active {
        .accordion-item__head {
            .accordion-item__arrow {
                transform: rotate(180deg);
                .icon {
                    color: $yellow;
                }
            }

            .accordion-item__header {
                .icons__wrapper icons__wrapper--accordion {
                    background-color: $yellow;
                    .icon {
                        color: #fff;
                    }
                }
            }
        }

        .accordion-item__body {
            display: block;
        }
    }
}
