.contact {
    padding-bottom: 100px;
}

.contact__header {
    margin-bottom: 60px;

    text-align: center;
    font-size: 30px;
    font-weight: 900;

    text-transform: uppercase;
    color: $black;
}

.contact__grid {
    padding: 75px 150px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border: 1px solid #e6e6e6;

}

.contact__input {
    margin-bottom: 30px;

    label {
        div {
            font-size: 15px;
            font-weight: 400;
            color: $darkGray;
            margin-bottom: 10px;
        }

        input, textarea {
            width: 100%;
            max-width: 370px;
            padding: 10px;

            border: 1px solid #e6e6e6;
            &:focus {
                outline: 1px solid $darkGray;
            }
        }

        textarea {
            height: 130px;
            resize: none;
        }
    }
}
