.contact {
    padding-bottom: 100px;
}

.contact__header {
    margin-bottom: 60px;

    text-align: center;
    font-size: 30px;
    font-weight: 900;

    text-transform: uppercase;
    color: $black;
}

.contact__grid {
    padding: 75px 150px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

    border: 1px solid #e6e6e6;

}

@media(max-width: $tablets) {
    .contact__grid {
        padding: 30px;
    
    }
}

@media(max-width: 900px) {
    .contact-items--contact {
        display: none;
    }

    .contact__grid {
        grid-template-columns: repeat(1, 1fr);
    
    }
}






