.contact-items {
    &--contact {
        .contact-item__icon {
            background: $yellow;

            .icon {
                color: #fff;
            }
        }

        .contact-item__text {
            .contact-item__phone {
                color: $black;
            }

            h3,
            .contact-item__email {
                color: $black;
            }
        }
    }
}

.contact-item {
    margin-bottom: 15px;

    display: flex;
    align-items: center;
}

.contact-item__icon {
    position: relative;

    width: 50px;
    height: 50px;

    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);

    .icon {
        width: 25px;
        height: 25px;
        color: $yellow;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate3d(-50%, -50%, 0);
    }
}

.contact-item__text {
    margin-left: 15px;

    .contact-item__phone {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
    }

    h3,
    .contact-item__email {
        font-size: 15px;
        font-weight: 400;
        color: #ccc;
        text-decoration: none;
    }
}
