.contact-items {
    &--contact {
        .icons__wrapper {
            background: $yellow;

            .icon {
                color: #fff;
            }
        }

        .contact-item__text {
            .contact-item__phone {
                color: $black;
            }

            h3,
            .contact-item__email {
                color: $black;
            }
        }
    }
}

.contact-item {
    margin-bottom: 15px;

    display: flex;
    align-items: center;
}

.contact-item__text {
    margin-left: 15px;

    .contact-item__phone {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
    }

    h3,
    .contact-item__email {
        font-size: 15px;
        font-weight: 400;
        color: #ccc;
        text-decoration: none;
    }
}
