.contact {
    padding-bottom: 100px;
}

.contact__header {
    margin-bottom: 60px;

    text-align: center;
    font-size: 30px;
    font-weight: 900;

    text-transform: uppercase;
    color: $black;
}

.contact__grid {
    padding: 75px 150px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border: 1px solid #e6e6e6;

}


