.form {
    .form__input {
        margin-bottom: 30px;

        label {
            div {
                font-size: 15px;
                font-weight: 400;
                color: $darkGray;
                margin-bottom: 10px;
            }

            input,
            textarea {
                width: 100%;
                max-width: 370px;
                padding: 10px;

                border: 1px solid #e6e6e6;

                &::placeholder {
                    font-size: 15px;
                    font-weight: 400;
                    color: $darkGray;
                }

                &:focus {
                    outline: 1px solid $darkGray;
                }
            }

            textarea {
                height: 130px;
                resize: none;
            }
        }
    }

    &--faq {
        .form__input {
            label {
                input,
                textarea {
                    background: #f2f2f2;
                    &::placeholder {
                        font-size: 15px;
                        font-weight: 400;
                        color: $darkGray;
                    }
                }
            }
        }

        .form__input-wrapper {
            width: 100%;
            max-width: 370px;

            display: flex;
            justify-content: space-between;

            .form__input {
                width: 50%;

                &:first-child {
                    margin-right: 15px;
                }
            }
        }
    }
}
