.main {
    padding-bottom: 125px;
    padding: 0 15px;

    background: url("../img/homepage/bg/1.jpg") no-repeat;
}

.main__wrapper {
    max-width: 700px;
    padding-top: 290px;
    margin: 0 auto;

    text-align: center;
}

.main__title {
    margin-bottom: 15px;

    font-size: 45px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

.main__subtitle {
    margin-bottom: 60px;

    font-size: 18px;
    font-weight: 400;
    color: $lightGray;
}

.main__btns {
    display: flex;
    justify-content: center;

    a {
        &:first-child {
            margin-right: 15px;
        }
    }
}

@media (max-width: $tablets) {
    .main__wrapper {
        padding-top: 200px;
    }

    .main__title {
        font-size: 30px;
    }
}

@media (max-width: $iphone-x) {
    .main {
        padding-bottom: 30px;
    }
    .main__wrapper {
        padding: 90px 0;
    }

    .main__title {
        font-size: 30px;
    }

    .main__btns {
        flex-direction: column;

        a {
            &:first-child {
                margin: 0 0 15px;
            }
        }
    }
}
