.modal-project {
    .container {
        max-width: 800px;
    }
}

.modal-project__content {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-project_header {
    margin-bottom: 30px;

    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
