.modal-service_header {
    margin-bottom: 30px;

    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.modal-service__btns {
    padding: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    button {
        padding: 15px 30px;

        display: flex;
        align-items: center;

        background: #fff;
        border: solid 1px #e6e6e6;
        cursor: pointer;

        font-size: 16px;
        font-weight: 400;
        color: $darkGray;

        transition: $transition;

        .icon {
            width: 30px;
            height: 30px;
            color: $black;

            margin-right: 15px;
            transition: $transition;
        }

        &:hover {
            background: $blue;
            color: #fff;

            .icon {
                color: $yellow;
            }
        }
    }
}

.modal-service__content {
    .container {
        max-width: 850px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        margin-bottom: 30px;

        text-align: center;
        font-weight: 400;
        font-size: 30px;
        color: $black;
    }

    .modal-service__img {
        margin-bottom: 60px;
        img {
            max-width: 100%;
        }
    }

    .modal-service__text {
        margin-bottom: 30px;

        h3 {
            margin-bottom: 15px;

            font-size: 26px;
            font-weight: 800;
            color: $black;
            text-align: left;
        }

        span {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.6;
            color: $darkGray;
        }
    }

    .modal-service__gallery {
        width: 100%;
        padding-top: 30px;
        margin-bottom: 30px;
        border-top: 1px solid #e5e5e5;

        h3 {
            text-align: left;
            font-weight: 800;
            font-size: 26px;
            color: $black;
        }

        .modal-service__item {
            img {
                max-width: 100%;
            }
        }
    }
}
