.close-container {
    width: 30px;
    height: 30px;

    margin-left: auto;

    cursor: pointer;
    position: relative;
}

.leftright {
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color: $black;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}

.rightleft {
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color: $black;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: $black;
}
.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: $black;
}
.close-container:hover label {
    opacity: 1;
}
