.page-header {
    padding: 93px 0;
    background: url("../img/contact/bg.jpg") no-repeat;


    font-size: 50px;
    font-weight: 800;
    color: $yellow;

    text-transform: uppercase;
    text-align: center;

    &--faq {
        background: url("../img/faq/bg.jpg") no-repeat;
    }

    &--services {
        background: url("../img/services/bg.jpg") no-repeat;
    }
}

@media(max-width: $big-phone) {
    .page-header {
        font-size: 30px;
    }
}

@media(max-width: $iphone-x) {
    .page-header {
        font-size: 22px;
    }
}

