.phone {
    padding: 104px 0;
    background: url("../img/homepage/bg/3.jpg") no-repeat;

}

.phone__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
    }

    a {
        display: flex;
        align-items: center;

        font-size: 22px;
        font-weight: 800;
        color: #fff;

        .icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

    }
}

@media(max-width: 900px) {
    .phone__wrapper {
        flex-direction: column;

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 900px) {
    .phone__wrapper {
        h2 {
            font-size: 24px;
        }

    }
}