.section-header {
    margin: 0 auto;
    max-width: 530px;
    padding: 60px 0 30px;
    text-align: center;
    
    h2 {
        margin-bottom: 20px;

        text-align: center;

        font-size: 30px;
        font-weight: 800;
        color: $black;
        text-transform: uppercase;
    }

    .line {
        margin: 0 auto 15px;
        width: 60px;
        height: 3px;

        background: $blue;
    }

    h3 {
        font-size: 15px;
        font-weight: 400;
        color: #666;
    }

    &--clients {
        h2 {
            color: #fff;
        }

        .line {
            background: #fff;
        }
    }

    &--projects {
        padding: 60px 0;
        
    }

    &--choose {
        max-width: 600px;
        margin: 0;

        text-align: left;

        h2 {
            text-align: left;
        }

        .line {
            margin: 0 auto 15px 0;
        }
    }
}
