.social-icons {
    a {
        margin-right: 15px;

        text-decoration: none;
        color: $darkGray;

        &:last-child {
            margin-right: 0;
        }

        transition: $transition;

        &:hover {
            color: lighten($blue, 35%);
        }
    }

    .icon {
        width: 15px;
        height: 15px;
    }

    &--team {
        a {
            color: #fff;
        }

        .icon {
            width: 20px;
            height: 20px;
        }
    }
}
