.statistic {
    padding: 97px 0;
    background: url("../img/homepage/bg/4.jpg") no-repeat;
}

.statistic__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.statistic__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        margin: 10px 0;

        font-size: 45px;
        font-weight: 700;
        color: $yellow;
    }

    h3 {
        font-size: 17px;
        font-weight: 400;
        color: #999;
    }
}

@media (max-width: 900px) {
    .statistic__item {
        h2 {
            font-size: 35px;
        }

        h3 {
            font-size: 15px;
            font-weight: 400;
            color: #999;
        }
    }
}

@media (max-width: $big-phone) {
    .statistic {
        padding: 15px 0;
    }

    .statistic__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .statistic__item {
        h2 {
            font-size: 28px;
        }
    }
}

@media (max-width: $iphone-x) {
    .statistic {
        padding: 10px 0;
    }

    .statistic__item {
        h2 {
            font-size: 25px;
        }
    }
}
