<footer class="footer">
    <div class="container">
        <div class="footer__grid">
            <div class="footer__column">
                <h3 class="footer__title">Contact Us</h3>

                <div class="contact-items">
                    <div class="contact-item">
                        <div class="icons__wrapper icons__wrapper--contact">
                            <svg class="icon">
                                <use xlink:href="#smartphone"></use>
                            </svg>
                        </div>

                        <div class="contact-item__text">
                            <a class="contact-item__phone" href="tel:+123234567891">+123 23 456 78 91</a>
                            <h3>Support 24/7 Weekdays</h3>
                        </div>
                    </div>

                    <div class="contact-item">
                        <div class="icons__wrapper icons__wrapper--contact">
                            <svg class="icon">
                                <use xlink:href="#map"></use>
                            </svg>
                        </div>

                        <div class="contact-item__text">
                            <h3>Auhandy Tower, New York, NY 10013, USA</h3>
                        </div>
                    </div>

                    <div class="contact-item">
                        <div class="icons__wrapper icons__wrapper--contact">
                            <svg class="icon">
                                <use xlink:href="#email"></use>
                            </svg>
                        </div>

                        <div class="contact-item__text">
                            <a class="contact-item__email" href="mailto:info@example.com">info@example.com</a>
                        </div>
                    </div>

                    <div class="contact-item">
                        <div class="icons__wrapper icons__wrapper--contact">
                            <svg class="icon">
                                <use xlink:href="#clock"></use>
                            </svg>
                        </div>

                        <div class="contact-item__text">
                            <h3>Weekdays: 09:00 am - 06:00 pm</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__column">
                <h3 class="footer__title">Links</h3>
                <div class="footer__links">
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Electrical
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Installation
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Plumbing
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Garden Repairs
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Engine Repair
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Soil Drilling
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Support 24/
                        7</a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Repair House
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Home Maintenance
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Inspection House
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Wall Paint
                    </a>
                    <a href="/">
                        <svg class="icon">
                            <use xlink:href="#right-arrow"></use>
                        </svg>
                        Remodeling Ceiling
                    </a>
                </div>
            </div>

            <div class="footer__column">
                <div class="footer__promocode">
                    <div class="footer__discont">
                        GET <span>25%</span> OFF
                    </div>

                    <h3>Electrical Services</h3>

                    <h4>
                        Redeem Code: <span>HANDYHPY28</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        Markup by <span>Konstantin Kazlov</span> 2021
   </div>
</footer>