<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__text">We make your home more quality.</div>
            <div class="icons__social">
                <a href="/">
                    <svg class="icon">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
                <a href="/">
                    <svg class="icon">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>

                <a href="/">
                    <svg class="icon">
                        <use xlink:href="#google-plus"></use>
                    </svg>
                </a>

                <a href="/">
                    <svg class="icon">
                        <use xlink:href="#behance"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <nav class="nav">
        <div class="container">
            <div class="nav__wrapper">
                <div class="nav__logo">
                    <a href="/">
                        <div class="img">
                            <svg class="icon">
                                <use xlink:href="#logo"></use>
                            </svg>
                        </div>

                        <div class="text">
                            <h2>AUHandy</h2>
                            <span>We repair everything.</span>
                        </div>
                    </a>
                </div>

                <div class="nav__links">
                    <a class="nav__link" href="./index.html">Home</a>
                    <a class="nav__link" href="./engine-repair.html">Services</a>
                    
                    <a class="nav__link" href="./contact.html">Contact</a>
                    <a class="nav__link" href="./faq.html">FAQ</a>
                </div>
            </div>
        </div>
    </nav>
</header>
