@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.woff");
    font-weight: 800;
}